:root {
	--padd: 10px;
	--padd-small: 5px;
	--border-radius: 10px;
}
* {
	font-family: "IBM Plex Sans Condensed", Calibri, sans-serif !important;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
	width: 1300px;
	max-width: 100%;
	margin: auto;
	padding: var(--padd);
}
h1 {
	text-align: center;
	margin: 0 0 var(--padd) 0;
}
table, th, td {
	border: 1px solid white;
}
table {
	border-collapse: collapse;
	text-align: center;
}
.hide {
	display: none;
}

/* ------------------------------------------------------------------------------------------------------------ */


